body {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*   background-image: url(images/background.png);
    background-size: fixed;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden; */
  }
  .fondo {
    background-image: url(../images/background.png);
    background-size: fixed;
    background-repeat: no-repeat;
  }
  .botonera {
    min-width: 1024px;
    height: 75px;
    background-color: #b7b7b7;
    border-bottom: 2px solid gradian;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 5px;
  }
  .img-nav {
    position: relative;
    padding: 5px;
    margin: 5px;
    float: left;
    left: 30px;
    top: 7px;
  }
  .back {
    min-width: 800px;
    position: relative;
    display: inline;
    float: right;
    top: 16px;
    font-size: 12px;
    /*   width: 800px;
   */
  }
  .back ul {
    list-style: none;
  }
  .back li {
    border-right: 2px solid #d4d4d4;
    display: inline;
    text-align: right;
  }
  .back a {
    padding: 0px 6px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  
  .container {
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
  }
  .eslogan {
    position: absolute;
    left: 103px;
    top: 200px;
    width: 648px;
  }
  .box-login {
    width: 500px;
    height: 580px;
    background-color: #b7b7b7;
    border-radius: 32px;
    box-shadow: 5px 5px 15px 5px #d4d4d4;
  }

  .login-position   {
    position: relative;
    top: 90px;
    margin: 0 auto;
}

  .box-login h2 {
    position: relative;
    font-size: 27px;
    margin: 18px 20px 28px 20px;
    padding: 20px 20px 10px 20px;
    /*   text-align: center; */
    top: 15px;
    border-bottom: 2px solid black;
  }
  

  .form {
    margin: 45px 20px;
    padding: 0px;
  }
  .form p {
    margin: 20px 25px;
    padding: 0;
    font-size: 20px;
  }
  .item {
    position: relative;
    /*   left: 10px; */
  }
  .item p {
    margin: 30px 25px 10px 25px;
    padding: 0;
    font-size: 22px;
  }
  .item input {
    position: relative;
    left: 20px;
    width: 400px;
    height: 35px;
    border-radius: 10px;
    border-color: #5a407a;
    background-color:#FFFFFF ;
  }
  .btn {
    width: 242px;
    height: 54px;
    border-radius: 18px;
    background-color: #5a407a;
    color: white;
    font-size: 18px;
  }
  .btn-position {
    position: relative;
    left: 129px;
    top: 80px;
  }
  .foot {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(183, 183, 183, 0.7);
    /*   display: inline; */
  }
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .foot p {
    margin: 5px 35px;
    width: 650px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .foot-back {
    margin: 0;
    align-items: center;
    position: relative;
    right: 15vh;
  }
  .foot-back ul {
    margin: 10px;
  }
  .foot-back li {
    display: inline;
    text-align: center;
  }
  .foot-back a {
    padding: 0px 20px;
  }
  .images-foot {
    width: 35px;
    height: 30px;
  }